* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 80%;
    margin: auto;
}
ul li {
    list-style-type: none;
}
a {
    text-decoration: none;
}

header {
    height: 140px;
    /* display: flex; */
    color: white;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background: #f8fff5;
    

}

header img{
    width: 170px;
    height: 120px;
    padding-left: 10px;
    margin-top: 5px;
}


.menu {
    width: 15%;
    float: left;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    /* display: flex; */
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    /* margin-top: 50px; */
}
.container-body {
    display: flex;
    background: #f8fff5;


}
.sec{
    float: right;
    width: 85%;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    
}

.logo{
    color: rgb(187, 99, 99);
}
footer{
    height: 30px;
    border: 1px solid;
    border-top: none;
    clear: both;
    text-align: center;
}
.button{
    height: 15px;
    width: 15px;
}
.search{
    padding: 5px;


}
nav{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    font-size: 20px;
}
.tb tr td{
    /* border: solid; */
    width: 180px;
    height: 100px;
}
.tb th{
    /* border: 2px solid; */
    width: 180px;
    height: 20px;
}
#tbl1{
    align-items: center;
}
/*-----------------------addsp---------------------  */
.my input{
width: 200px;
}

.h3_category {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    padding-top: 20px;
}
.nav-header {
    padding: 20px 0 20px 0;
    background: #f8fff5;
}

.box-header{
    display: flex;

}
.box-header>h1{
    font-family: 'Noto Sans', sans-serif; /* Đặt font cho h1 */
    color: black;
    line-height: 150px;
    margin-left: 400px;
    
   
}
